<div class="d-flex flex-wrap" role="toolbar">
    <f:for each="{categories}" as="category" iteration="i">
        <div class="m-1" role="group">
            <f:variable name="checked"
                ><f:spaceless>
                    <f:for each="{selCategories}" as="fcategory" iteration="i">
                        <f:if condition="{fcategory} == {category.uid}">checked</f:if>
                    </f:for>
                </f:spaceless></f:variable
            >
            <f:form.checkbox
                class="btn-check"
                id="btn-{category.slug}"
                name="category[]"
                value="{category.uid}"
                additionalAttributes="{autocomplete:'off'}"
                checked="{checked}"
            />
            <label class="btn btn-primary" for="btn-{category.slug}">{category.title}</label>
        </div>
    </f:for>
</div>
