<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
    <div class="bokunorecipe__list__searchbar">
        <f:form action="list" addQueryString="1" id="bkr-searchbar">
            <div class="input-group">
                <button type="button" id="recipe-reset" class="btn btn-outline-primary border-right-0">
                    <f:translate key="tx_bokunorecipe_bokunoingredients.reset" />
                </button>
                <f:form.textfield
                    id="recipe-sw"
                    class="form-control border-left-0 border-right-0"
                    type="text"
                    name="sw"
                />
                <button type="submit" class="btn btn-outline-primary border-left-0">
                    <f:translate key="tx_bokunorecipe_bokunoingredients.search" />
                </button>
            </div>
            <f:render partial="Filter/Categories" arguments="{_all}" />
        </f:form>
    </div>
</html>
