.bokunorecipe__list__searchbar {
    .bkr-category-group {
        margin-top: 10px;
        display: flex;
        gap: 10px;
        width: 100%;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        align-content: center;
    }
}
