$badge-margin-right: .25em;

.bokunorecipe__detail {
    .badge {
        margin-right: $badge-margin-right    
    }
    .bokunorecipe__detail__ingredients {
        td {
            &:nth-child(2n) {
                border-left: solid 1px #dedede;
            }
        }
    }
}
.bokunorecipe__list {
    .badge {
        margin-right: $badge-margin-right;
    }
    .card {
        width: 32%;
        height: fit-content;
        height: -moz-fit-content;
    }
}